.sidebar-nav {
  .sidebar-heading {
    font-family: "Arial", sans-serif; /* 设置一级目录字体样式 */
    /* 其他一级目录字体相关的样式设置 */
  }

  .sidebar-group {
    .sidebar-heading {
      font-family: "Arial", sans-serif; /* 设置二级目录字体样式 */
      /* 其他二级目录字体相关的样式设置 */
    }
  }
}